.header-panel-left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-panel{
    flex-grow: 1;
}

.header-panel-right{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.d3-chart {
  width: 100%;
      display: flex;
    align-items: center;
    justify-content: center;
}

/*.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}*/

/*.example-margin {
  margin: 0 10px;
}*/
/*.checkChoice{
    font-size: 12px;
    margin: 0 10px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}*/