.header-panel-left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-panel{
    flex-grow: 1;
}

.header-panel-right{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}