<md-sidenav-container class="example-container">
  <md-sidenav mode="push" #sidenav class="example-sidenav">
    <div id="sidenav-buttons-container">
      <button md-button>Home</button>
      <button md-button>Page - 1</button>
      <button md-button>Page - 2</button>
    </div>
  </md-sidenav>
  <div class="my-content">


    <md-toolbar color="primary" id="mainbar-style">
      <span>
    <div class="header-button-container">
      <div class="header-button" mdTooltip="Menu" [mdTooltipPosition]="tooltipPosition" (click)="sidenav.open()">
<md-icon class="header-button-icon" svgIcon="menu-icon"></md-icon>
      </div>
    </div>
    <!--<i class="material-icons">menu</i>-->
    </span>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space">Dashboard - Home</span>
      <span>Hello User!</span>
      <div class="header-button-container">
        <div class="header-button" [mdMenuTriggerFor]="menu">
          <md-icon class="header-button-icon" svgIcon="account-icon"></md-icon>
        </div>
        <md-menu #menu="mdMenu">
          <button md-menu-item>
    <md-icon>build</md-icon>
    <span>Edit account</span>
  </button>
          <button md-menu-item>
    <md-icon><i class="material-icons">exit_to_app</i></md-icon>
    <span>Logout</span>
  </button>
        </md-menu>
      </div>

    </md-toolbar>

    <div id="main-content-wrap">
      <div class="card-wrap">
        <md-card class="generic-card">
          <md-card-header>
            <div class="header-panel-left header-panel">
              <md-card-title>Panel - 1 title</md-card-title>
              <md-card-subtitle>Panel - 1 subtitle</md-card-subtitle>
            </div>

            <div class="header-panel-right header-panel">
              <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
              <md-menu #menu="mdMenu">
                <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Redial</span>
  </button>
                <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
                <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
              </md-menu>
            </div>

          </md-card-header>
          <md-card-content>



            <md-list>
              <h3 md-subheader>Gateways</h3>
              <md-list-item *ngFor="let folder of gateways">
                <md-icon md-list-avatar>folder</md-icon>
                <h4 md-line>{{folder.name}}</h4>
                <p md-line> {{folder.updated | date}} </p>
              </md-list-item>
              <md-divider></md-divider>
              <h3 md-subheader>Channels</h3>
              <md-list-item *ngFor="let note of channels">
                <md-icon md-list-avatar>note</md-icon>
                <h4 md-line>{{note.name}}</h4>
                <p md-line> {{note.updated | date}} </p>
              </md-list-item>
            </md-list>



          </md-card-content>
          <md-card-actions>
            <button md-button>ACTION - 1</button>
            <button md-button>ACTION - 2</button>
          </md-card-actions>
        </md-card>
      </div>

      <div class="card-wrap">

        <md-card class="generic-card">



          <md-card-header>
            <div class="header-panel-left header-panel">
              <md-card-title>Panel - 2 title</md-card-title>
              <md-card-subtitle>Panel - 2 subtitle</md-card-subtitle>
            </div>


            <div class="header-panel-right header-panel">
              <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
              <md-menu #menu="mdMenu">
                <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Redial</span>
  </button>
                <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
                <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
              </md-menu>
            </div>
          </md-card-header>







          <md-card-content>
            <md-input-container class="search-input-full">
              <input mdInput placeholder="Search something">
            </md-input-container>

            <md-radio-group class="example-radio-group" [(ngModel)]="favoriteChoice">
              <md-radio-button class="example-radio-button" *ngFor="let choice of choices" [value]="choice">
                {{choice}}
              </md-radio-button>
            </md-radio-group>
            <div class="example-selected-value">Your choice is: {{favoriteChoice}}</div>


          </md-card-content>






          <md-card-actions>
            <button md-button>ACTION - 1</button>
            <button md-button>ACTION - 2</button>
          </md-card-actions>






        </md-card>
      </div>

      <div class="card-wrap">

        <md-card class="generic-card">
          <md-card-header>

            <div class="header-panel-left header-panel">
              <md-card-title>Panel - 3 title</md-card-title>
              <md-card-subtitle>Panel - 3 subtitle</md-card-subtitle>
            </div>



            <div class="header-panel-right header-panel">
              <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
              <md-menu #menu="mdMenu">
                <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Redial</span>
  </button>
                <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
                <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
              </md-menu>
            </div>




          </md-card-header>



          <md-card-content>









            <section class="example-section">
              <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
              <md-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</md-checkbox>
            </section>

            <section class="example-section">
              <label class="example-margin">Align:</label>
              <md-radio-group [(ngModel)]="align">
                <md-radio-button class="example-margin" value="start">Start</md-radio-button>
                <md-radio-button class="example-margin" value="end">End</md-radio-button>
              </md-radio-group>
            </section>

            <section class="example-section">
              <md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
            </section>

            <h2 class="example-h2">Result</h2>

            <section class="example-section">
              <md-checkbox class="example-margin" [checked]="checked" [indeterminate]="indeterminate" [align]="align" [disabled]="disabled">
                I'm a checkbox
              </md-checkbox>
            </section>

















            <md-chip-list class="mat-chip-list-stacked">
              <md-chip *ngFor="let chipColor of availableColors" selected="true" color="{{chipColor.color}}">
                {{chipColor.name}}
              </md-chip>
            </md-chip-list>



          </md-card-content>
          <md-card-actions>
            <button md-button>ACTION - 1</button>
            <button md-button>ACTION - 2</button>
          </md-card-actions>
        </md-card>
      </div>

      <div class="card-wrap">

        <md-card class="generic-card">
          <md-card-header>

            <div class="header-panel-left header-panel">
              <md-card-title>Panel - 4 title</md-card-title>
              <md-card-subtitle>Panel - 4 subtitle</md-card-subtitle>
            </div>


            <div class="header-panel-right header-panel">
              <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
              <md-menu #menu="mdMenu">
                <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Redial</span>
  </button>
                <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
                <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
              </md-menu>
            </div>

          </md-card-header>
          <md-card-content>




            <div id="spinner-central-panel">

              <md-select placeholder="Favorite choice" [(ngModel)]="selectedValue">
                <md-option *ngFor="let dropChoice of dropChoices" [value]="dropChoice.value">
                  {{dropChoice.viewValue}}
                </md-option>
              </md-select>

              <md-spinner></md-spinner>

            </div>


            <p> Selected value: {{selectedValue}} </p>
          </md-card-content>
          <md-card-actions>
            <button md-button>ACTION - 1</button>
            <button md-button>ACTION - 2</button>
          </md-card-actions>
        </md-card>
      </div>



      <div class="card-wrap">

        <md-card class="generic-card">
          <md-card-header>

            <div class="header-panel-left header-panel">
              <md-card-title>Panel - 5 title</md-card-title>
              <md-card-subtitle>Panel - 5 subtitle</md-card-subtitle>
            </div>


            <div class="header-panel-right header-panel">
              <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
              <md-menu #menu="mdMenu">
                <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Redial</span>
  </button>
                <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
                <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
              </md-menu>
            </div>

          </md-card-header>
          <md-card-content>
            <div id="slide-panel-container">
              <div id="slide-panel" class="slide-panel-sides-left">
                <md-slide-toggle>Slide 1!</md-slide-toggle>
                <md-slide-toggle>Slide 2!</md-slide-toggle>
                <md-slide-toggle>Slide 3!</md-slide-toggle>
                <md-slide-toggle>Slide 4!</md-slide-toggle>
              </div>
              <div class="slide-panel-sides-right">
                <button md-button (click)="openDialog()">Open dialog</button>
              </div>
            </div>
            <md-slider></md-slider>
          </md-card-content>
          <md-card-actions>
            <button md-button>ACTION - 1</button>
            <button md-button>ACTION - 2</button>
          </md-card-actions>
        </md-card>
      </div>

      <div class="card-wrap">

        <md-card class="generic-card">
          <md-card-header>

            <div class="header-panel-left header-panel">
              <md-card-title>Panel - 6 title</md-card-title>
              <md-card-subtitle>Panel - 6 subtitle</md-card-subtitle>
            </div>


            <div class="header-panel-right header-panel">
              <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
              <md-menu #menu="mdMenu">
                <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Redial</span>
  </button>
                <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
                <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
              </md-menu>
            </div>

          </md-card-header>
          <img md-card-image src="../../../public/img/shiba2.jpg">
          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-button>ACTION - 1</button>
            <button md-button>ACTION - 2</button>
          </md-card-actions>
        </md-card>
      </div>





    </div>


  </div>
</md-sidenav-container>
<router-outlet></router-outlet>